<ion-header>
  <app-toolbar [page]="this">
    <ion-button
    *ngIf="pageConfig.canRequestDataCorrection"
    title="{{'Request data correction' | translate}}"
    color="secondary"
    (click)="openRequestDataConnectionModal()"
  >
  {{'Request data correction' | translate}}
  </ion-button>
  </app-toolbar>
</ion-header>

<ion-content appScrollbarTheme class="ion-padding">
  <div class="main-view" *ngIf="item && pageConfig.showSpinner==false">
    <ion-grid fixed>
      <ion-row>
        <ion-col size="12" size-sm>
          <app-page-title
            [icon]="formGroup.get('IsPersonal').value? 'person-outline':'business-outline'"
            [color]="formGroup.get('IsPersonal').value? 'success':'warning'"
            [title]="formGroup.get('Name').value.toUpperCase()"
            [remark]="formGroup.get('WorkPhone').value + ' | ' + item?.Address?.AddressLine1 +', '+ item?.Address?.Ward +', '+ item?.Address?.District +', '+ item?.Address?.Province"
          ></app-page-title>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div
      class="row-full shadow full-screen"
      style="max-width: 1440px; margin: auto; width: 100%; position: relative; z-index: 0"
    >
      <div class="ion-padding" *ngIf="segmentView == 's1'">
        <ion-grid fixed>
          <form [formGroup]="formGroup">
            <ion-row class="hr-group">
              <ion-col size="12" size-sm="12" size-md="12" size-xl="3">
                <ion-list-header class="ion-no-padding">
                  <ion-label color="primary">{{'Phone number' | translate}}</ion-label>
                </ion-list-header>
              </ion-col>
              <ion-col size="12" size-sm size-xl="8">
                <div class="c-control">
                  <label class="c-label" for="WorkPhone"
                    >{{'Work phone number' | translate}}
                    <span
                      *ngIf="!formGroup.controls.WorkPhone.valid && !formGroup.controls.WorkPhone.pending && (formGroup.controls.WorkPhone.dirty || submitAttempt)"
                      ion-text
                      color="danger"
                      >(*)</span
                    >
                  </label>
                  <input (change)="checkPhoneNumber()" class="c-input" formControlName="WorkPhone" type="tel" />
                  <ion-text
                    color="success"
                    *ngIf="formGroup.controls.WorkPhone.valid && formGroup.controls.WorkPhone.dirty"
                  >
                    {{'Số điện thoại hợp lệ' | translate}}
                  </ion-text>
                  <ion-text color="danger" *ngIf="!formGroup.controls.WorkPhone.valid">
                    {{'Số điện thoại không hợp lệ hoặc đã được sử dụng' | translate}}
                  </ion-text>
                </div>

                <!-- <div class="c-control">
                                    <label class="c-label" for="Phone1">{{'Phone number' | translate}}</label>
                                    <input class="c-input" id="Phone1" required [(ngModel)]="PhoneCheck" [ngModelOptions]="{standalone: true}" type="tel">
                                </div> -->
                <div class="c-control ion-text-right" *ngIf="!item.Id">
                  <ion-button (click)="checkPhoneNumber()"> {{'Check' | translate}} </ion-button>
                </div>
              </ion-col>
            </ion-row>
            <ion-row class="hr-group">
              <ion-col size="12" size-sm="12" size-md="12" size-xl="3">
                <ion-list-header class="ion-no-padding">
                  <ion-label color="primary">{{'General information' | translate}}</ion-label>
                </ion-list-header>
              </ion-col>

              <ion-col size="12" size-sm size-xl="4">
                <div class="c-control" *ngIf="item.Id">
                  <label class="c-label" for="Id">{{'Id' | translate}}</label>
                  <input class="c-input" id="Id" formControlName="Id" type="number" />
                </div>
                <div class="c-control">
                  <label class="c-label" for="Code"
                    >{{'Customer code' | translate}}
                    <span
                      *ngIf="!formGroup.controls.Code.valid && !formGroup.controls.Code.pending && (formGroup.controls.Code.dirty || submitAttempt)"
                      ion-text
                      color="danger"
                      >(*)</span
                    >
                  </label>
                  <input (change)="saveChange()" class="c-input" id="Code" formControlName="Code" type="text" />
                </div>
                <div class="c-control">
                  <label class="c-label" for="Name"
                    >{{'Shop name' | translate}}
                    <span
                      *ngIf="!formGroup.controls.Name.valid && !formGroup.controls.Name.pending && (formGroup.controls.Name.dirty || submitAttempt)"
                      ion-text
                      color="danger"
                      >(*)</span
                    >
                  </label>
                  <input class="c-input" id="Name" (change)="saveChange();" formControlName="Name" type="text" />
                </div>

                <!-- <div class="c-control">
                                    <label class="c-label" for="OtherPhone">{{'Telephone number (other)' | translate}}
                                        <span *ngIf="!formGroup.controls.OtherPhone.valid && !formGroup.controls.OtherPhone.pending && (formGroup.controls.OtherPhone.dirty || submitAttempt)" ion-text color="danger">(*)</span>
                                    </label>
                                    <input (change)="saveChange()" class="c-input" formControlName="OtherPhone" type="text">
                                </div> -->

                <div class="c-control">
                  <span class="no-warp">
                    <input
                      (change)="saveChange()"
                      id="IsPersonal1"
                      type="radio"
                      [value]="true"
                      formControlName="IsPersonal"
                      class="c-checkbox"
                    />
                    <label class="c-label radio" for="IsPersonal1">
                      <span>{{'Individual' | translate}}</span>
                    </label>
                  </span>
                  <span class="no-warp">
                    <input
                      (change)="saveChange()"
                      id="IsPersonal2"
                      type="radio"
                      [value]="false"
                      formControlName="IsPersonal"
                      class="c-checkbox"
                    />
                    <label class="c-label radio" for="IsPersonal2">
                      <span>{{'Organization' | translate}}</span>
                      <span
                        *ngIf="!formGroup.controls.IsPersonal.valid && !formGroup.controls.IsPersonal.pending && (formGroup.controls.IsPersonal.dirty || submitAttempt)"
                        ion-text
                        color="danger"
                        >(*)</span
                      >
                    </label>
                  </span>
                </div>
              </ion-col>
              <ion-col size="12" size-sm size-xl="4">
                <div class="c-control">
                  <label class="c-label" for="IDOwner"
                    >{{'Customer care staff' | translate}}
                    <span
                      *ngIf="!formGroup.controls.IDOwner.valid && !formGroup.controls.IDOwner.pending && (formGroup.controls.IDOwner.dirty || submitAttempt)"
                      ion-text
                      color="danger"
                      >(*)</span
                    >
                  </label>
                  <ng-select
                    (change)="saveChange()"
                    class="c-input"
                    #IDOwner
                    formControlName="IDOwner"
                    labelForId="IDOwner"
                    [items]="salesmanList$ | async"
                    [typeahead]="salesmanListInput$"
                    [loading]="salesmanListLoading"
                    [virtualScroll]="true"
                    bindLabel="FullName"
                    bindValue="Id"
                    placeholder="{{'Search for name, code or phone number' | translate}}"
                  >
                    <ng-template ng-option-tmp let-i="item" let-search="searchTerm">
                      <div *ngIf="i">
                        <div>
                          <span [ngOptionHighlight]="search">{{i.FullName}}</span>
                        </div>
                        <small
                          >#<b><span class="important" [ngOptionHighlight]="search">{{i.Id}} - {{i.Code}}</span></b>
                          <span *ngIf="i.Phone">
                            | {{'Telephone' | translate}}:
                            <b [ngOptionHighlight]="search">{{i.Phone}}</b></span
                          ></small
                        >
                      </div>
                    </ng-template>
                  </ng-select>
                </div>

                <div class="c-control" *ngIf="item.Id">
                  <label class="c-label" for="Status">{{'Status' | translate}}</label>
                  <ng-select
                    class="c-input"
                    disabled
                    appendTo="#ng-select-holder"
                    #Status
                    labelForId="Status"
                    [items]="statusList"
                    [ngModel]="item.Status"
                    [ngModelOptions]="{standalone: true}"
                    bindLabel="Name"
                    bindValue="Code"
                  >
                    <ng-template ng-label-tmp let-i="item">
                      <b>
                        <ion-text [color]="i.Color">{{i.Name}}</ion-text>
                      </b>
                    </ng-template>
                    <ng-template ng-option-tmp let-i="item" let-search="searchTerm">
                      <div *ngIf="i">
                        <div>
                          <span *ngFor="let l of i.levels">&nbsp;&nbsp;&nbsp;</span>
                          <ion-text [color]="i.Color" [ngOptionHighlight]="search">{{i.Name}}</ion-text>
                        </div>
                      </div>
                    </ng-template>
                  </ng-select>
                </div>
                <div class="c-control">
                  <label class="c-label" for="Remark"
                    >{{'Remark' | translate}}
                    <span
                      *ngIf="!formGroup.controls.Remark.valid && !formGroup.controls.Remark.pending && (formGroup.controls.Remark.dirty || submitAttempt)"
                      ion-text
                      color="danger"
                      >(*)</span
                    >
                  </label>
                  <textarea
                    rows="3"
                    class="c-input remark"
                    id="Remark"
                    formControlName="Remark"
                    type="textarea"
                  ></textarea>
                </div>
              </ion-col>
            </ion-row>

            <!-- Địa chỉ -->
              <ion-row class="hr-group" >
                <ion-col size="12" size-md="12" size-lg="12" size-xl="3">
                  <ion-list lines="none">
                    <ion-list-header class="ion-no-padding">
                      <ion-label color="primary"> {{ 'Address' | translate }} </ion-label>
                    </ion-list-header>
                  </ion-list>
                </ion-col>
                <ion-col size="12" size-sm size-xl="8" class="ion-no-padding"  *ngIf="formGroup.get('Addresses').value.length > 0">
                  <app-address *ngFor="let address of formGroup.get('Addresses')['controls']"
                  [address]="address.value"
                  [canEdit]="pageConfig.canEdit"
                  [mapLoading]="env.isMapLoaded"
                  (onChange)="changeAddress($event)"
                  (onDelete)="removeAddress($event)"
                ></app-address>
                </ion-col>
                <ion-col size="12" size-xl="4" *ngIf="formGroup.get('Addresses').value.length == 0 && pageConfig.canEdit && isShowAddAddress">
                  <ion-button (click)="addAddress({})">
                    {{ 'Add address' | translate }}
                  </ion-button>
                </ion-col>
              </ion-row>
              <ion-row class="hr-group border" *ngIf="formGroup.get('Addresses').value.length > 0 && pageConfig.canEdit && isShowAddAddress">
                <ion-col size="0" size-md="0" size-lg="0" size-xl="3"></ion-col>
                <ion-col size="12" size-xl="4">
                  <ion-button (click)="addAddress({})">
                    {{ 'Add address' | translate }}
                  </ion-button>
                </ion-col>
              </ion-row>
    
                <!-- <app-bp-address
                  [bpId]="item.Id"
                  [canEdit]="pageConfig.canEdit"
                  [canEdit]="pageConfig.canEdit"
                  *ngIf="item.Id"
                ></app-bp-address> -->
            <!-- <app-bp-address [bpId]="item.Id" [canEdit]="pageConfig.canEdit" *ngIf="item.Id"></app-bp-address> -->

            <!-- Thông tin hóa đơn -->
            <app-bp-tax-address [bpId]="item.Id" [canEdit]="pageConfig.canEdit" *ngIf="item.Id"></app-bp-tax-address>
            <ion-row class="hr-group" *ngIf="item.Id==0">
              <ion-col size="12" size-sm="12" size-md="12" size-xl="3">
                <ion-list-header class="ion-no-padding">
                  <ion-label color="primary">{{'Invoice information' | translate}}</ion-label>
                </ion-list-header>
              </ion-col>
              <ion-col size="12" size-sm="6" size-xl="4">
                <div class="c-control">
                  <label class="c-label" for="CompanyName"
                    >{{'Company / organization name' | translate}}
                    <span
                      *ngIf="!formGroup.controls.CompanyName.valid && !formGroup.controls.CompanyName.pending && (formGroup.controls.CompanyName.dirty || submitAttempt)"
                      ion-text
                      color="danger"
                      >(*)</span
                    >
                  </label>
                  <input
                    (change)="saveChange()"
                    class="c-input"
                    id="CompanyName"
                    formControlName="CompanyName"
                    type="text"
                  />
                </div>
                <div class="c-control">
                  <label class="c-label" for="TaxCode"
                    >{{'Tax code' | translate}}
                    <span
                      *ngIf="!formGroup.controls.TaxCode.valid && !formGroup.controls.TaxCode.pending && (formGroup.controls.TaxCode.dirty || submitAttempt)"
                      ion-text
                      color="danger"
                      >(*)</span
                    >
                  </label>
                  <input (change)="saveChange()" class="c-input" id="TaxCode" formControlName="TaxCode" type="text" />
                </div>
                <div class="c-control">
                  <label class="c-label" for="Email"
                    >{{'Email address' | translate}}
                    <span
                      *ngIf="!formGroup.controls.Email.valid && !formGroup.controls.Email.pending && (formGroup.controls.Email.dirty || submitAttempt)"
                      ion-text
                      color="danger"
                      >(*)</span
                    >
                  </label>
                  <input (change)="saveChange()" class="c-input" id="Email" formControlName="Email" type="text" />
                </div>
              </ion-col>
              <ion-col size="12" size-sm="6" size-xl="4">
                <div class="c-control">
                  <label class="c-label" for="BillingAddress"
                    >{{'Invoice address' | translate}}
                    <span
                      *ngIf="!formGroup.controls.BillingAddress.valid && !formGroup.controls.BillingAddress.pending && (formGroup.controls.BillingAddress.dirty || submitAttempt)"
                      ion-text
                      color="danger"
                      >(*)</span
                    >
                  </label>
                  <textarea
                    (change)="saveChange()"
                    rows="3"
                    class="c-input"
                    id="BillingAddress"
                    formControlName="BillingAddress"
                    type="textarea"
                  ></textarea>
                </div>
              </ion-col>
            </ion-row>

            <!-- Thông tin phân loại -->
            <app-bp-outlet-info
              [bpId]="item.Id"
              [canEdit]="pageConfig.canEdit"
              *ngIf="item.Id && formGroup.controls.IsOutlets.value"
            ></app-bp-outlet-info>

            <!-- <ion-row class="hr-group">
							<ion-col size="12" size-sm="12" size-md="12" size-xl="3">
								<ion-list-header class="ion-no-padding">
									<ion-label color="primary">{{'Classification information' | translate}}</ion-label>
								</ion-list-header>
							</ion-col>

							<ion-col size="12" size-sm="6" size-xl="4">
								<div class="c-control">
									<label class="c-label" for="NumberOfEmployees">{{'Scale (staff)' | translate}}
										<span *ngIf="!formGroup.controls.NumberOfEmployees.valid && !formGroup.controls.NumberOfEmployees.pending && (formGroup.controls.NumberOfEmployees.dirty || submitAttempt)" ion-text color="danger">(*)</span>
									</label>
									<input (change)="saveChange()" class="c-input" id="NumberOfEmployees" formControlName="NumberOfEmployees" type="number">
								</div>
								<div class="c-control">
									<label class="c-label" for="AnnualRevenue">{{'Scale (revenue)' | translate}}
										<span *ngIf="!formGroup.controls.AnnualRevenue.valid && !formGroup.controls.AnnualRevenue.pending && (formGroup.controls.AnnualRevenue.dirty || submitAttempt)" ion-text color="danger">(*)</span>
									</label>
									<input (change)="saveChange()" class="c-input" id="AnnualRevenue" formControlName="AnnualRevenue" type="number">
								</div>
							</ion-col>
							<ion-col size="12" size-sm="6" size-xl="4">

								<div class="c-control">
									<label class="c-label" for="Website">{{'Website' | translate}}
										<span *ngIf="!formGroup.controls.Website.valid && !formGroup.controls.Website.pending && (formGroup.controls.Website.dirty || submitAttempt)" ion-text color="danger">(*)</span>
									</label>
									<input (change)="saveChange()" class="c-input" id="Website" formControlName="Website" type="text">
								</div>

								<div class="c-control">
									<label class="c-label" for="BankName">{{'Bank name' | translate}}
										<span *ngIf="!formGroup.controls.BankName.valid && !formGroup.controls.BankName.pending && (formGroup.controls.BankName.dirty || submitAttempt)" ion-text color="danger">(*)</span>
									</label>
									<input (change)="saveChange()" class="c-input" id="BankName" formControlName="BankName" type="number">
								</div>

								<div class="c-control">
									<label class="c-label" for="BankAccount">{{'Bank account number' | translate}}
										<span *ngIf="!formGroup.controls.BankAccount.valid && !formGroup.controls.BankAccount.pending && (formGroup.controls.BankAccount.dirty || submitAttempt)" ion-text color="danger">(*)</span>
									</label>
									<input (change)="saveChange()" class="c-input" id="BankAccount" formControlName="BankAccount" type="number">
								</div>

							</ion-col>
						</ion-row> -->

            <!-- Thông tin cá nhân -->
            <app-bp-person-info
              [bpId]="item.Id"
              [canEdit]="pageConfig.canEdit"
              *ngIf="formGroup.controls.IsPersonal.value && item.Id"
            ></app-bp-person-info>

            <!-- Tuyến bán -->
            <ion-row class="hr-group" *ngIf="item?._Routes">
              <ion-col size="12" size-sm="12" size-md="12" size-xl="3">
                <ion-list-header class="ion-no-padding">
                  <ion-label color="primary">{{'Tuyến bán hàng' | translate}}</ion-label>
                </ion-list-header>
              </ion-col>
              <ion-col size="12" size-sm size-xl="8">
                <div class="table-contain">
                  <section class="table">
                    <header class="bold">
                      <div class="col-name cell">{{'Route name' | translate}}</div>

                      <div class="col-checkbox cell">{{'W1' | translate}}</div>
                      <div class="col-checkbox cell">{{'W2' | translate}}</div>
                      <div class="col-checkbox cell">{{'W3' | translate}}</div>
                      <div class="col-checkbox cell">{{'W4' | translate}}</div>

                      <div class="col-checkbox cell">{{'Mon' | translate}}</div>
                      <div class="col-checkbox cell">{{'Tue' | translate}}</div>
                      <div class="col-checkbox cell">{{'Wed' | translate}}</div>
                      <div class="col-checkbox cell">{{'Collect' | translate}}</div>
                      <div class="col-checkbox cell">{{'Fri' | translate}}</div>
                      <div class="col-checkbox cell">{{'Sat' | translate}}</div>
                      <div class="col-checkbox cell">{{'Sun' | translate}}</div>
                    </header>
                  </section>
                  <section class="table table-scroll">
                    <div class="row" [ngClass]="{odd: j % 2 != 0 }" *ngFor="let i of item._Routes; let j = index;">
                      <div class="col-name cell">
                        <small
                          ><a [href]="'#/'+'mcp/'+i.Id" (click)="nav('mcp/'+i.Id,'forward')"> 🔗 {{i.Id}}</a></small
                        >
                        {{i.Name}}
                      </div>

                      <div class="col-checkbox cell week">
                        <input [disabled]="true" class="c-checkbox" [checked]="i.Week1" type="checkbox" />
                      </div>
                      <div class="col-checkbox cell week">
                        <input [disabled]="true" class="c-checkbox" [checked]="i.Week2" type="checkbox" />
                      </div>
                      <div class="col-checkbox cell week">
                        <input [disabled]="true" class="c-checkbox" [checked]="i.Week3" type="checkbox" />
                      </div>
                      <div class="col-checkbox cell week">
                        <input [disabled]="true" class="c-checkbox" [checked]="i.Week4" type="checkbox" />
                      </div>

                      <div class="col-checkbox cell">
                        <input [disabled]="true" class="c-checkbox" [checked]="i.Monday" type="checkbox" />
                      </div>
                      <div class="col-checkbox cell">
                        <input [disabled]="true" class="c-checkbox" [checked]="i.Tuesday" type="checkbox" />
                      </div>
                      <div class="col-checkbox cell">
                        <input [disabled]="true" class="c-checkbox" [checked]="i.Wednesday" type="checkbox" />
                      </div>
                      <div class="col-checkbox cell">
                        <input [disabled]="true" class="c-checkbox" [checked]="i.Thursday" type="checkbox" />
                      </div>
                      <div class="col-checkbox cell">
                        <input [disabled]="true" class="c-checkbox" [checked]="i.Friday" type="checkbox" />
                      </div>
                      <div class="col-checkbox cell">
                        <input [disabled]="true" class="c-checkbox" [checked]="i.Saturday" type="checkbox" />
                      </div>
                      <div class="col-checkbox cell">
                        <input [disabled]="true" class="c-checkbox" [checked]="i.Sunday" type="checkbox" />
                      </div>
                    </div>
                  </section>
                </div>
              </ion-col>
            </ion-row>

            <!-- Đơn hàng -->
            <ion-row class="hr-group" *ngIf="item?._LastSOs?.length">
              <ion-col size="12" size-sm="12" size-md="12" size-xl="3">
                <ion-list-header class="ion-no-padding">
                  <ion-label color="primary">{{'Đơn hàng gần đây' | translate}}</ion-label>
                </ion-list-header>
              </ion-col>
              <ion-col size="12" size-sm size-xl="8">
                <div class="table-contain">
                  <section class="table">
                    <header class="bold">
                      <div class="col-id cell">{{'Sale orders' | translate}}</div>
                      <!-- <div class="col-status cell">{{'Status' | translate}}</div> -->
                      <div class="col-code cell">{{'Daily order' | translate}}</div>
                      <div class="col-code cell">{{'Sales staff' | translate}}</div>

                      <div class="col-code cell money">{{'Customers payable' | translate}}</div>
                      <div class="col-code cell">{{'Vendor code' | translate}}</div>
                    </header>
                  </section>
                  <section class="table table-scroll">
                    <div class="row" [ngClass]="{odd: j % 2 != 0 }" *ngFor="let i of item._LastSOs; let j = index;">
                      <div class="col-id cell">
                        <a [href]="'#/'+'sale-order/'+i.Id" (click)="nav('sale-order/'+i.Id,'forward')"> 🔗 {{i.Id}}</a>
                      </div>
                      <!-- <div class="col-status cell"></div> -->
                      <div class="col-code cell">{{i.OrderDate | date: 'dd/MM/yy HH:mm'}}</div>
                      <div class="col-code cell">{{i.FullName}}</div>
                      <!-- <div class="col-code cell money">{{i.OriginalTotalAfterTax | number}}</div> -->
                      <div class="col-code cell money">
                        {{i.TotalAfterTax | number}}<small>/{{i.OriginalTotalAfterTax | number}}</small>
                      </div>
                      <div class="col-code cell">{{i.Code}}</div>
                    </div>
                  </section>
                </div>
              </ion-col>
            </ion-row>

            <!-- Other information -->
            <ion-row class="hr-group" *ngIf="item.Id">
              <ion-col size="12" size-sm="12" size-md="12" size-xl="3">
                <ion-list-header class="ion-no-padding">
                  <ion-label color="primary">{{'Other information' | translate}}</ion-label>
                </ion-list-header>
              </ion-col>
              <ion-col size="12" size-sm size-xl="4">
                <app-form-control
                  [field]="{id:'CreatedBy', type : 'text', label: 'Created by', form : formGroup }"
                ></app-form-control>
                <app-form-control
                  [field]="{id:'CreatedDate', type : 'span-datetime', label: 'Created date', form : formGroup }"
                ></app-form-control>
                <app-form-control
                  [field]="{id:'ModifiedBy', type : 'text', label: 'Last modified by', form : formGroup }"
                ></app-form-control>
                <app-form-control
                  [field]="{id:'ModifiedDate', type : 'span-datetime', label: 'Last modified date', form : formGroup }"
                ></app-form-control>
              </ion-col>
              <ion-col size="12" size-sm size-xl="4">
                <app-form-control
                  [field]="{id:'IDBranch', type : 'branch-breadcrumbs', label: 'Branch', form : formGroup, dataSource:env.branchList }"
                ></app-form-control>
                <app-form-control
                  [field]="{id:'Remark', type : 'textarea', label: 'Remark', form : formGroup }"
                  (change)="saveChange()"
                ></app-form-control>
              </ion-col>
            </ion-row>
          </form>
        </ion-grid>
      </div>
      <div *ngIf="segmentView == 's2'"></div>
    </div>
  </div>
  <app-page-message [itemsLength]="item? 1: 0" [showSpinner]="pageConfig.showSpinner"></app-page-message>
</ion-content>
