.table{
    min-width: 1500px;
}

.col-remark{
    min-width: 190px;
}
.phone{
    max-width: 105px !important;
    min-width: 105px !important;
}
.col-code{
    max-width: 90px;
    min-width: 90px;
}
.col-status {
    max-width: 95px;
    min-width: 95px;
}

.cell{
    white-space:normal !important;
}
.remark{
    white-space: pre-line !important;
}
.col-number{
    max-width: 45px;
    min-width: 45px;
}
.small-kid{
    display: none;
}

@media screen and (max-width: calc(1365px)) { //1610px
    .empty, .kid{display: none;}
    .small-kid{
        display: inline;
    }
    
    .row {
        
        .dinning-card{
            order: 5;
            span{
                margin-left: 5px;
                margin-top: 6px;
            }
        }

        hr{
            order: 3;
        }

        .col-remark {
            max-width: fit-content!important;
            min-width: fit-content!important;
            font-weight: bold;
            order: 4;
        }

        .remark{
            font-weight: normal !important;
            white-space: pre-line !important;
            order: 7;
            min-width: calc(100% + 100px) !important;
            
        }

        .phone{
            order: 4;
            color: var(--ion-color-primary);
        }
        .regis{
            font-size: 90% !important;
            font-weight: bold;
            border-left: solid 3px rgba(var(--ion-color-primary-rgb, 0, 0, 0), .2);
            background-color: rgba(var(--ion-color-primary-rgb, 0, 0, 0), .2);
        }

        .col-number {
            order: 4;
            position: absolute;
            right: 8px;
            min-width: fit-content;
            margin-top: 20px;
            font-size: 160%;
            color: var(--ion-color-primary) !important;
            font-weight: bold;
        }
    }

}