<div class="main-view">
	<div class="row-full shadow full-screen ion-padding">
		<ion-col size="12" size-sm size-xl="8">
			<div class="table-contain">
				<app-data-table class="box-shadow responsive" [rows]="items" [(query)]="query" [showSpinner]="pageConfig.showSpinner">
					<datatable-empty-message [showImg]="false" minHeight="125px"> </datatable-empty-message>
					<datatable-column class="col-id" name="Sale orders" property="Id">
						<ng-template let-i="row" datatable-cell-template>
							<a [href]="'#/' + 'sale-order/' + i.Id" (click)="nav('sale-order/' + i.Id, 'forward')"> 🔗 {{ i.Id }}</a>
						</ng-template>
					</datatable-column>
					<datatable-column class="col-code" name="Daily order" property="OrderDate" format="dd/MM/yy HH:mm"></datatable-column>
					<datatable-column class="col-code" name="Sales staff" property="_Saleman.FullName"></datatable-column>
					<datatable-column class="col-code" name="Customers payable" property="TotalAfterTax">
						<ng-template let-i="row" datatable-cell-template>
							{{ i.TotalAfterTax | number }}<small>/{{ i.OriginalTotalAfterTax | number }}</small>
						</ng-template>
					</datatable-column>
					<datatable-column class="col-code" name="Vendor code" property="Code"></datatable-column>
				</app-data-table>
			</div>
		</ion-col>
	</div>
</div>
